.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #e45068;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #88122f;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }